build/
~*
*~
debian/io.github.teamcons.storyline.debhelper.log
debian/io.github.teamcons.storyline.substvars
debian/io.github.teamcons.storyline/
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu/
.vscode
.buildconfig
builddir/
