@define-color text_color #EEE;
@define-color accent #70C0FF;
@define-color accent_color_500 #70C0FF;
@define-color color_primary #222;

@define-color prefs_accent #6A7D85;
@define-color prefs_primary #333;
@define-color prefs_fg #FFF;

.storyline-dialog-hb,
.storyline-dialog-hb headerbar,
.storyline-dialog-hb actionbar {
    background: @prefs_primary;
    color: @prefs_fg;
    border: none;
    box-shadow: none;
}
.storyline-dialog-hb .titlebar .image-button.toggle {
  background: none;
  border: none;
  box-shadow: none;
}
.storyline-dialog-hb switch {
    background: shade(@prefs_primary, 0.75);
}
.storyline-dialog-hb switch slider {
    background: shade(@prefs_primary, 1.1);
}
.storyline-dialog-hb button:not(:checked):not(.titlebutton) {
    background: shade(@prefs_primary, 1.2);
    color: @prefs_fg;
}
.storyline-dialog-hb button.titlebutton,
.storyline-dialog-hb button.image-button {
    background: transparent;
    color: @prefs_fg;
    padding: 4px;
    margin: 5px;
}
.storyline-dialog-hb switch:checked {
    background: @prefs_accent;
}
.storyline-dialog-hb .toggle:checked {
    background: @prefs_accent;
}
.storyline-dialog-hb viewswitcher button {
    box-shadow: none;
    background-image: none;
    border-radius: 8px 0 0 8px;
    color: @prefs_fg;
}
.storyline-dialog-hb viewswitcher button:not(:first-child):not(:last-child) {
    box-shadow: none;
    background-image: none;
    border-radius: 0;
}
.storyline-dialog-hb viewswitcher button:last-child {
    box-shadow: none;
    background-image: none;
    border-radius: 0 8px 8px 0;
}
.storyline-dialog-hb viewswitcher button label {
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.storyline-dialog-hb viewswitcher button:not(:checked):not(:active) label {
    font-weight: 500;
    opacity: 0.8;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.storyline-dialog-hb viewswitcher button:not(:checked):not(:active) {
    border-top: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
    border-bottom: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
    background: mix(@prefs_accent, @prefs_primary, 0.90);
}
.storyline-dialog-hb viewswitcher button {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
    border: 1px solid transparent;
}
.storyline-dialog-hb viewswitcher button:first-child {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
    border-left: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
}
.storyline-dialog-hb viewswitcher button:last-child {
    background: shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
    border-right: 1px solid shade(mix (@prefs_accent, @prefs_primary, 0.90), 0.57);
}
.storyline-dialog-hb .header .title {
    font-size: 10pt;
    font-weight: 500;
}
.storyline-dialog-hb .header .subtitle {
    padding-top: 5px;
    font-size: 9pt;
}

.storyline-sidebar-switcher {
    background: mix(@accent, @color_primary, 0.90);
}
.storyline-sidebar-switcher button:not(:checked):not(:active) {
    background: mix (@accent, @color_primary, 0.90);
}
.storyline-sidebar-switcher button {
    background: shade(mix (@accent, @color_primary, 0.90), 0.66);
    border: 1px solid transparent;
}

.storyline-toolbar .image-button:hover {
    background: shade(@color_primary, 0.88);
}

.storyline-toolbar .image-button:active,
.storyline-toolbar .image-button.toggle:checked {
    background: shade(@color_primary, 0.88);
}

.storyline-toolbar {
    background: shade(@color_primary, 0.0);
    border-bottom: 1px solid alpha (white, 0.25);
}

.storyline-toolbar:backdrop {
    background: #333333;
}

.storyline-toolbar .image-button,
.storyline-toolbar .title,
.storyline-toolbar .titlebutton {
    color: #FFF;
}

.storyline-toolbar:backdrop .image-button,
.storyline-toolbar:backdrop .title,
.storyline-toolbar:backdrop .titlebutton {
    color: #CCC;
}

.storyline-toolbar-side {
    background: mix(@accent, @color_primary, 0.90);
    border-bottom: 1px solid alpha(white, 0.25);
}

.storyline-toolbar-side:backdrop {
    background: mix(@accent, @color_primary, 0.90);
}

.sb-sidebutton {
	background: shade(@color_primary, 0.88);
}

.storyline-sidebar {
    border-right: 1px solid alpha(white, 0.25);
    background: mix(@accent, @color_primary, 0.90);
    color: @text_color;
}

.storyline-sidebar list,
.storyline-sidebar treeview.view {
    background: mix(@accent, @color_primary, 0.90);
    color: @text_color;
    box-shadow: 0 1px transparent inset;
}

.storyline-sidebar-box {
    padding: 3px;
    border-radius: 8px;
    border: 1px solid shade(mix (@accent, @color_primary, 0.90), 0.66);
    background-color: mix (@accent, @color_primary, 0.90);
}

.storyline-sidebar-box:selected,
.storyline-sidebar-box:active,
.storyline-sidebar-box:hover {
    padding: 3px;
    border-radius: 8px;
    border: 1px solid shade(mix (@accent, @color_primary, 0.90), 0.66);
    background-color: shade(mix (@accent, @color_primary, 0.90), 0.66);
    color: @text_color;
}

.preview-row:active,
.preview-row:selected {
    border: 1px solid shade(mix (@accent, @color_primary, 0.90), 0.66);
    background-color: shade(mix (@accent, @color_primary, 0.90), 0.66);
    color: @text_color;
}

.storyline-menu {
  border-radius: 8px;
  -gtk-outline-radius: 8px;
  background-color: black;
  border: 1px solid alpha(white, 0.25);
}

.storyline-normal-view {
	background-color: @color_primary;
}

.welcome-title {
  background: @color_primary;
  border-bottom: 1px solid transparent;
}

.welcome-title > *:disabled {
  background: @color_primary;
  border-bottom: 1px solid transparent;
}

.welcome-title:backdrop,
.welcome-title:backdrop > *:disabled:backdrop {
	background: #333;
}

.storyline-normal-view:backdrop {
	background-color: #333;
}

.storyline-focus-button {
    background-color: black;
    border: 1px solid alpha(white, 0.25);
    color: @theme_fg_color;
}
